// Breakpoint Variables
// added 6/17/2014 by HE
$bp-desktop: 960px;
$bp-tablet: 959px;
$bp-tablet-narrow: 768px;
$bp-mobile: 767px;
$bp-mobile-wide: 480px;
$bp-mobile-narrow: 479px;


@mixin breakpoint($point) {
    @if      $point == large { @media only screen and (min-width: $bp-desktop) { @content; } }
    @else if $point == mediumup { @media only screen and (min-width: $bp-tablet-narrow) { @content; } }
    @else if $point == medium { @media only screen and (max-width: $bp-tablet) { @content; } }
    @else if $point == mediumnarrow { @media only screen and (min-width: $bp-tablet-narrow) and (max-width: $bp-tablet) { @content; } }
    @else if $point == small { @media only screen and (max-width: $bp-mobile)  { @content; } }
    @else if $point == smallwide { @media only screen and (min-width: $bp-mobile-wide) and (max-width: $bp-mobile)  { @content; } }
    @else if $point == smallnarrow { @media only screen and (max-width: $bp-mobile-narrow)  { @content; } }
}


html, body {
    overflow-x: hidden;
}

// <style scoped>
// #app .hero .bg-image {
//     background: url(./../../src/assets/shirts-2.jpg);
// }
// </style>

#app {
    .hero {
        height: 100vh;
        position: relative;
        .bg-image {
            // background: url(/img/shirts.66266a95.jpg);
            // background: url(/img/shirts-2.cc6cf93f.jpg);
            // background: url(/img/screenprinting.090dd5f6.jpg);
            // background-size: cover;
            // background-repeat: no-repeat;
            // height: 100%;
            // background-position: center;
            // position: relative;
            &:before {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                background: rgba(0,0,0,.6);
            }
            .hero-content {
                width: 700px;
                display: block;
                top: 50%;
                left: 50%;
                text-align: center;
                position: absolute;
                transform: translate(-50%, -50%);
                h1 {
                    color: #fff;
                    display: none;
                }
                img {
                    width: 100%;
                }
                .cta {
                    a {
                        text-decoration: none;
                        padding: 10px 50px;
                        transition: 0.2s;
                        border-radius: 10px;
                        margin: 0 20px;
                        font-size: 16px;
                        font-weight: 500;
                        cursor: pointer;
                        z-index: 9;
                        &.product {
                            background: #d2232a;
                            color: #fff;
                            border: 2px solid #d2232a;
                        }
                        &.quote {
                            background: #fff;
                            color:  #d2232a;
                            border: 2px solid #fff;
                        }
                        &:hover {
                            cursor: pointer;
                            -webkit-box-shadow: 0 5px 15px -4px #080708;
                            box-shadow: 0 5px 15px -4px #080708;
                            &.product {
                                background: #fff;
                                color:  #d2232a;
                            }
                            &.quote {
                                background: #d2232a;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}