// Breakpoint Variables
$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;


@mixin breakpoint($point) {

    @if $point == xsmall { 
      @media only screen and (max-width: $screen-xs-max)  { @content; } // 767px-
    }
    @else if $point == small { 
      @media (min-width: $screen-sm-min)  { @content; } // 768px+
    }
    @else if $point == medium { 
      @media only screen and (min-width: $screen-md-min) { @content; } // 992px+
    }
    @if $point == large { 
      @media only screen and (min-width: $screen-lg-min) { @content; } // 1200px+
    }
    @if $point == notmobile {
      @media only screen and (min-width: $screen-sm-max) { @content; }
    }
    
}

@mixin breakpoint-only($point) {
  @if $point == small { 
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { @content; } // 768 - 991px
  }
  @if $point == medium { 
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) { @content; } // 992 - 1159px
  }
  @if $point == large { 
    @media (min-width: $screen-lg-min) { @content; } // 1200px+
  }
}

@mixin breakpoint-between($point1, $point2) {
  // xsmall, small, medium
  @if $point1 == xsmall and $point2 == small {
    @media only screen and (max-width: $screen-sm-max) {
      @content;
    }
  }
  @if $point1 == xsmall and $point2 == medium {
    @media only screen and (max-width: $screen-md-max) {
      @content;
    }
  }
  @if $point1 == small and $point2 == medium {
    @media only screen and (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
      @content;
    }
  }
}


html, body {
    overflow-x: hidden;
}

// <style scoped>
// #app .hero .bg-image {
//     background: url(./../../src/assets/shirts-2.jpg);
// }
// </style>

#app {
    .hero {
        height: 100vh;
        position: relative;
        .bg-image {
            // background: url(/img/shirts.66266a95.jpg);
            // background: url(/img/shirts-2.cc6cf93f.jpg);
            // background: url(/img/screenprinting.090dd5f6.jpg);
            // background-size: cover;
            // background-repeat: no-repeat;
            // height: 100%;
            // background-position: center;
            // position: relative;
            &:before {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                background: rgba(0,0,0,.6);
            }
            .hero-content {
                width: 700px;
                display: block;
                top: 50%;
                left: 50%;
                text-align: center;
                position: absolute;
                transform: translate(-50%, -50%);
                h1 {
                    color: #fff;
                    display: none;
                }
                img {
                    width: 100%;
                }
                .cta {
                    a {
                        text-decoration: none;
                        padding: 10px 50px;
                        transition: 0.2s;
                        border-radius: 10px;
                        margin: 0 20px;
                        font-size: 16px;
                        font-weight: 500;
                        cursor: pointer;
                        z-index: 9;
                        &.product {
                            background: #d2232a;
                            color: #fff;
                            border: 2px solid #d2232a;
                        }
                        &.quote {
                            background: #fff;
                            color:  #d2232a;
                            border: 2px solid #fff;
                        }
                        &:hover {
                            cursor: pointer;
                            -webkit-box-shadow: 0 5px 15px -4px #080708;
                            box-shadow: 0 5px 15px -4px #080708;
                            &.product {
                                background: #fff;
                                color:  #d2232a;
                            }
                            &.quote {
                                background: #d2232a;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }

        @include breakpoint(xsmall) {
            .bg-image {
                .hero-content {
                    width: 90%;
                    .cta {
                        a {
                            display: block;
                            margin-bottom: 20px;
                        }
                    }
                }
            }
        }
    }



    .services {
        display: block;
        height: 250px;
        .service {
            width: 100%;
            height: 250px;
            position: relative;
            .service-content {
                width: 700px;
                display: block;
                top: 50%;
                left: 50%;
                text-align: center;
                position: absolute;
                transform: translate(-50%, -50%);
                h2 {
                    color: #fff;
                }
            }
        }
        @include breakpoint(small) {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            height: 100vh;
            .service {
                width: 33%;
                height: 100vh;
            } 
        }
    }

}